<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spidren.clockwidget"
    android:versionCode="3"
    android:versionName="1.0" 
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.spidren.clockwidget.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.spidren.widget.MainWidget"
            android:label="Rainbow Digi Clock Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.spidren.clockwidget.TIME_UPDATE" />
                <action android:name="com.spidren.clockwidget.COLOR_UPDATE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.spidren.clockwidget.APP_START" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver android:name="com.spidren.code.Recevir" >
            <intent-filter>
                <action android:name="com.spidren.clockwidget.TIME_UPDATE" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>